<div class="row">
  <div class="col-xs-12">
    <form action="">
      <div class="row">
        <div class="col-sm-5 form-group">
          <label for="name">Name</label>
          <input type="text" name="name" id="" class="form-control">
        </div>
        <div class="col-sm-2 form-group">
          <label for="amount">Amount</label>
          <input type="number" name="amount" id="amount" class="form-control">
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <button type="submit" class="btn btn-success" style="margin-right: 2px;">Add</button>
          <button type="button" class="btn btn-danger" style="margin-right: 2px;">Delete</button>
          <button type="button" class="btn btn-primary">Clear</button>
        </div>
      </div>
    </form>
  </div>
</div>
